################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercise1/Week1OOP2/.vs/Week1OOP2/v16
